    <nav id="mainMenu" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">History
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/how-we-began">How We Began</a></li>
                        <li><a href="#/middle-years">The Middle Years</a></li>
                        <li><a href="#/turning-the-century">Turning the Century</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects
                              <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/mckenzie">McKenzie Canyon Project</a></li>
                        <li><a href="#/main-canal">Main Canal Pipeline-Penstock</a></li>
                        <li><a href="#/other">Other Completed Projects</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents
                              <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Governing Documents</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us
                              <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Board of Directors</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Web Links
                              <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/partners">Partners</a></li>
                        <li><a href="#/federal">Federal</a></li>
                        <li><a href="#/state">State</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--<div class="navbar-inner navbar-secondary"></div>-->
    </nav>
