<div class="container-fluid">
    <header>
        <div class="row-fluid">
            <div id="hero" class="span12">
                <img src="/Content/images/hero.3sisters.jpg"
                    alt="Three Sisters Mountains in Oregon" />
                <a href="#/home">
                    <img id="logo" src="/Content/images/tsidlogo.png" /></a>
            </div>
        </div>
    </header>
    <nav id="mainMenu" class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">History
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/How-We-Began">How We Began</a></li>
                        <li><a href="#/Middle-Years">The Middle Years</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects
                        <b class="caret"></b></a>

                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners
                        <b class="caret"></b></a>

                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents
                        <b class="caret"></b></a>

                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us
                        <b class="caret"></b></a>

                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">WebLinks
                        <b class="caret"></b></a>

                </li>
            </ul>
        </div>
        <!--<div class="navbar-inner navbar-secondary"></div>-->
    </nav>
    <section id="mainContent" class="main container-fluid">
        <!--ko compose: {model: router.activeItem,
            afterCompose: router.afterCompose,
            transition: 'entrance'} -->
        <!--/ko-->
    </section>
</div>
