<section class="container-fluid">
<h3>Federal Government Information</h3>
<ul><li><a href="http://www.firstgov.gov">One-Stop Government Web Site</a></li></ul>
<h4>President and the Executive Branch</h4>
<ul>
   <li><a href="http://www.whitehouse.gov/">The White House</a></li>
   <li><a href="http://www.gao.gov/">General Accounting Office</a></li>
   <li><a href="http://www.whitehouse.gov/omb/">Office of Management and Budget</a></li>
</ul>
<h4>Congressional Information</h4>
<ul>
   <li><a href="http://www.hqda.army.mil/rio/links/calendar2005.pdf">Congressional Calendar</a></li>
   <li><a href="http://www.gpoaccess.gov/fr/index.html">Federal Register</a></li>
   <li><a href="http://thomas.loc.gov/">Library of Congress</a></li>
   <li><a href="http://www.house.gov/">House of Representatives</a>
      <ul>
         <li><a href="http://www.house.gov/agriculture">Agricultural Committee</a></li>
         <li><a href="http://www.house.gov/appropriations">Appropriations Committee</a></li>
         <li><a href="http://www.house.gov/resources">Resources Committee</a></li>
      </ul>
   </li>
   <li><a href="http://www.senate.gov/">Senate</a>
      <ul>
         <li><a href="http://www.senate.gov/~energy">Energy & Natural Resources Committee</a></li>
         <li><a href="http://www.senate.gov/~epw">Environment & Public Works Committee</a></li>
      </ul>
   </li>
   <li><a href="http://www.cbo.gov/">Congressional Budget Office</a></li>
</ul><!--Congressional Information-->
<h4>Federal Agencies</h4>
<ul>
   <li><a href="http://www.usace.army.mil/">US Army Corps of Engineers</a>
      <ul>
         <li><a href="http://www.nwd.usace.army.mil">Northwestern Division</a></li>
         <li><a href="http://www.nwp.usace.army.mil/welcome.htm">Portland District</a></li>
      </ul>
   </li>
   <li><a href="http://www.blm.gov/">US Bureau of Land Management</a></li>
   <li><a href="http://www.usbr.gov/">US Bureau of Reclamation</a>
      <ul>
         <li><a href="http://www.pn.usbr.gov/">Pacific Northwest Region</a></li>
         <li><a href="http://www.mp.usbr.gov/">Mid-Pacific Region</a></li>
      </ul>
   </li>
   <li><a href="http://www.usda.gov/">US Department of Agriculture</a>
      <ul>
         <li><a href="http://www.nrcs.usda.gov/">Natural Resource Consrevation Service</a></li>
      </ul>
   </li>
   <li><a href="http://www.fs.fed.us/">US Forest Service</a></li>
   <li><a href="http://www.doc.gov/">US Department of Commerce</a>
      <ul>
         <li><a href="http://www.noaa.gov/">National Oceanic and Atmospheric Administration</a></li>
         <li><a href="http://www.nmfs.noaa.gov/">National Marine Fisheries Service</a></li>
      </ul>
   </li>
   <li><a href="http://www.doi.gov/">US Department of the Interior</a></li>
   <li><a href="http://www.epa.gov/">Environmental Protection Agency</a>
      <ul>
         <li><a href="http://www.epa.gov/epahome/rules.html">Rules & Regulations</a></li>
         <li><a href="http://www.cleanwater.gov">Clean Water Program</a></li>
         <li><a href="http://www.epa.gov/surf">Surf Your Watershed</a></li>
         <li><a href="http://www.epa.gov/r10earth/">EPA Federal Region X Office</a></li>
      </ul>
   </li>
   <li><a href="http://www.fws.gov/">US Fish & Wildlife Service</a></li>
   <li><a href="http://www.usgs.gov/">US Geological Survey</a>
      <ul>
         <li><a href="http://wwworegon.wr.usgs.gov/">Portland District Office</a></li>
         <li><a href="http://h2o.usgs.gov/public/wid/html/or.html">USGS Programs in Oregon</a></li>
      </ul>
   </li>
   <li><a href="http://privatei.com/~uscold/">US Society on Dams</a></li>
</ul>
<h4>Rules</h4>
   <ul><li><a href="http://www.access.gpo.gov/nara/cfr/cfr-table-search.html">Code of Federal Regulations</a></li></ul>
</section>
