<section class="container-fluid">
<h3>State Government Information</h3>
<h4>Governor and the Executive Branch</h4>
<ul>
   <li><a href="http://www.governor.state.or.us">Governor's Office</a></li>
   <li><a href="http://www.oregon-plan.org/">Oregon Plan</a></li>
</ul>
<h4>Legislative Information</h4>
<ul>
   <li><a href="http://www.leg.state.or.us/senate/senateset.htm">Senators</a></li>
   <li><a href="http://www.leg.state.or.us/house/houseset.htm">Representatives</a></li>
   <li><a href="http://www.leg.state.or.us/">Oregon Legislative Web Page</a></li>
   <li><a href="http://www.leg.state.or.us/comm/commset.htm">Legislative Committee Information</a></li>
</ul>
<h4>Oregon Water Law</h4>
<ul>
   <li><a href="http://landru.leg.state.or.us/ors/">ORS Web Index</a></li>
   <li><a href="http://www.wrd.state.or.us/law/ors2001.shtml">Oregon Water Law</a><span style="color:#38719d;">- List and links for individual water-related chapters</span></li>
</ul>
<h4>State Agencies</h4>
<p style="color:#38719d;"><b><a href="http://www.state.or.us/cgi-bin/employee.html">State Employees Telephone Numbers and Email Addresses</a></b> (searchable)</p>
<ul>
   <li><a href="http://www.oda.state.or.us/index.html">Department of Agriculture</a>
      <ul>
         <li><a href="http://oda.state.or.us/pesticide/licensing/licensechooser4.html">Pesticide Licensing</a></li>
      </ul>
   </li>
   <li><a href="http://www.cbs.state.or.us/">Department of Consumer and Business Affairs</a></li>
   <li><a href="http://www.deq.state.or.us/">Department of Environmental Quality</a></li>
   <li><a href="http://www.dfw.state.or.us/">Department of Fish and Wildlife</a></li>
   <li><a href="http://www.doj.state.or.us/">Department of Justice
</a></li>
   <li><a href="http://statelands.dsl.state.or.us/">Department of State Lands</a></li>
   <li><a href="http://www.wrd.state.or.us/">Water Resources Department</a>
      <ul>
         <li><a href="http://www.wrd.state.or.us/OWRD/offices.shtml">Watermasters</a></li>
      </ul>
   </li>
   <li><a href="http://www.oregon.gov/">Other State Agencies</a></li>
   <li><a href="http://www.cbs.state.or.us/external/osha">OR - OSHA</a></li>
   <li><a href="http://www.oweb.state.or.us/">Oregon Watershed Enhancement Board</a></li>
</ul>
<h4>Rules</h4>
<ul>
   <li><a href="http://arcweb.sos.state.or.us/rules/oar_default.html">Oregon Administrative Rules</a></li>
   <li><a href="http://arcweb.sos.state.or.us/rules/OARS_600/OAR_690/690_tofc.html">WRD Rules - Chapter 690</a></li>
</ul>
</section>