body
{
   background-color: #a5bbd2;
   background-image: url(../appGraphics/master.bkg.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
}
#logo
{
   margin-left: 10px;
   margin-top: -140px;
   position: absolute;
   border-style:none;
}
#mainContainer
{
   background-color: #fff;
   opacity: 0.85;
   filter: alpha(opacity=85);
   width: 825px;
   height: 700px;
   margin-left: auto;
   margin-right: auto;
   padding: 5px;
   position: relative;
   z-index: 20;
}
#hdrDiv
{
   width: 823px;
   height: 139px;
   /*This wasn't helping anything that I could tell*/
   /*border: 1px white solid;*/
}
#mainContent
{
   width: 795px;
   height: 497px;
   /*border: 1px white solid;*/
   background-color: #d0c4b8;
   overflow: auto;
   padding: 15px;
   /*It appears this prevents the menu drop-down ul elements from appearing over the top of this element*/
   /*position: relative;*/
   z-index: 10;
}
#footer
{
   height: 80px;
   width: 793;
   text-align: center;
   padding-top: 15px;
   color: white;
   font-weight: bold;
   font-size: 11px;
}
