<section class="container-fluid">
<h3>Main Canal Pipeline Penstock Project</h3>
<h4>Project Components</h4>
<p>This project is one component of a larger effort, the Three Sisters Irrigation District Collaborative Restoration Project.  The project addresses limiting factors related to the Three Sisters Irrigation District diversion on Whychus Creek.  The larger project contains four interconnected components.  It pipes a leaky irrigation canal and legally restores stream flow at the Three Sisters Irrigation District diversion, screens the diversion, restores fish passage at the diversion, and improves habitat just downstream from the diversion.  In addition it will create .7MW of clean renewable power at the end of the pipeline located at TSID’s Watson Reservoir property.</p>

<h4>Channel Restoration & Fish Passage</h4>
<p>In collaboration with USFS and the Upper Deschutes Watershed Council we restored 1400 feet of Whychus Creek below the diversion dam to improve habitat and overall stream function.  We raised the stream bed to the height of the diversion dam which created up and down stream fish passage at the diversion for re-introduced Steelhead, Chinook and Sockeye.</p>

<h4>Farmers Conservation Alliance Horizontal Dual Bay Fish Screen</h4>
<p>TSID is currently installing a state of the art <a href="http://www.farmerscreen.org/">Farmers Conservation Alliance</a> (FCA) fish screen This horizontal flat-plate screen is completely self-cleaning with no mechanical parts.  The screen has zero mortality and no impingement.</p>

<h4>Pipeline/Penstock</h4>
<h5>Phase I</h5>
<p>Phase I (completed April 18, 2010) consists of 8250 feet of open canal replaced with side-by-side 54” high density polyethylene (HDPE) pipe (16500 total feet of pipe).</p>
<h5>Phase II</h5>
<p>Phase II (completed April 24, 2011) consists of 6750 feet of open canal replaced with side-by-side 54” high density polyethylene (HDPE) pipe (13500 total feet of pipe).</p>
<h5>Phase III</h5>
<p>Phase III (completed March 2012) consists of 5200 feet of open canal replaced with side-by-side 54” high density polyethylene (HDPE) pipe (3400 feet of 54”, 2440’ of 16”, and 1060’ of 14” pipe).</p>
<p>Completion of the pipeline made pressurized water available to the Fryrear pipeline which serves 502.7 acres, the Patterson pipeline which serves 61 acres and the Halousek group ditch which serves 127.1 acres for a total of 690.80 acres. These 19 farms will be able to eliminate their irrigation pumps.  This has the potential to conserve 400,000-500,000 kWh per year.</p>

<h4>Hydroelectric Plant</h4>
<p>Upon completion of the pipeline/penstock up to 65 cfs of pressurized water (194 feet of head) will flow through a Francis turbine (.7MW) producing and average 3.1 million kWh of electricity.  This is enough to supply at least 300 homes with clean green power 7 months out of the year.</p>
</section>
